body {
  font-family: 'Roboto', sans-serif;
}
span {
  display: none;
}
.errorText {
  color: red;
  padding: 6px;
  display: block;
}
#app {
  position: relative;
}
.testSquare {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: pink;
  display: inline-block;
  position: absolute;
}
